/* 
#wrapper {
    color: #293c50;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    max-width: 960px;
}


header h2 {
    color: #fff;
    margin-bottom: 10px;
}

.navbar {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
}

.navbar a.navbar-brand {
    color: #333;
    font-weight: bold;
    margin-right: 10px;
}

.navbar a.navbar-brand:hover {
    color: #000;
}

form {
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.row {
    margin-bottom: 15px;
}

.lbltittle label {
    display: block;
    font-weight: bold;
    font-size: large;
}

.lblinput input[type="text"],
.lblinput input[type="number"],
.lblinput textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: large;
}

.lblinput input[type="file"] {
    font-size: large;
}

.lblinput select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: large;
}

.submit input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: large;
}

.submit input[type="submit"]:hover {
    background-color: #245f26;
}

.error {
    color: red;
}

label {
    font-size: large;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    margin-top: 20px;
}

h3 {
    background-color: #52677c;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.row {
    margin-top: 20px;
}

.col-sm-4 {
    margin-bottom: 20px;
}

.text-danger {
    color: rgb(80, 33, 33);
}

.text-info {
    color: rgb(42, 42, 56);
}

.btn-primary {
    background-color: #6e93bc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #38526c;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
} */